body {
    background-color: white;
}

section.content {
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

div.partylist{
    padding: 10px;
    background: #f8f8f8;
    height: 100px;
}
div.partylist img {
    height: 80px;
}
div.partylist span {
    padding: 10px;
}

div.form-error {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
}
